<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @text_message.message %>
</p>

<p>
  <strong>Number:</strong>
  <%= @text_message.number %>
</p>

<p>
  <strong>User:</strong>
  <%= @text_message.user_id %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @text_message.organization_id %>
</p>

<%= link_to 'Edit', edit_text_message_path(@text_message) %> |
<%= link_to 'Back', text_messages_path %>
